html, body, ul {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 12px;
    list-style: none;
}

a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #f30;
}

/******************************页面底部******************************/

.foot_a {
    /*background: #ddd;*/
    background: rgba(225, 225, 225, 0.3);
    border-top: 1px solid #ccc;
    border-bottom: 3px solid #c00;
}

.foot_a .h150 {
    height: 150px;
    color: #ff0;
}

.foot_a ul li {
    float: left;
    top: 44px;
    width: 300px;
    height: 52px;
    color: #000;
    position: relative;
}

.foot_a ul li:nth-child(1) {
    background: url("../img/icon-zz.png") no-repeat;
}

.foot_a ul li:nth-child(2) {
    background: url("../img/icon-bb.png") no-repeat;
}

.foot_a ul li:nth-child(3) {
    background: url("../img/icon-kk.png") no-repeat;
}

.foot_a ul li:nth-child(4) {
    background: url("../img/icon-zzz.png") no-repeat;
}

.foot_a li span {
    position: absolute;
    left: 70px;
    font-size: 18px;
    font-weight: 900;
}

.foot_a li p {
    position: absolute;
    top: 30px;
    left: 70px;
    font-size: 16px;
    margin: 0;
    color: #666;
}

/*底部导航*/
.foot_b {
    background: #000;
}

.foot_b > div {
    padding: 50px;
}

.group_list {
    width: 100%;
    height: 249px;
    border-bottom: 1px solid #333;
}

.group_item {
    float: left;
    margin-right: 150px;
}

.group_item > ul > li {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.footer-logo {
    margin-top: 15px;
    text-align: center;
}

.footer-logo li {
    color: #ccc;
}

.group_list h2 {
    color: #999;
    width: 100px;
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
}

/*底部版权信息*/
.copyright {
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
}

.copyright span {
    margin: 0 5px;
}

.copyright > p {
    color: #999;
    margin-bottom: 0;
}
