html, body, ul {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 12px;
    list-style: none;
}

a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #f30;
}

/******************************页面头部******************************/
header {
    width: 100%;
}

/*头部的登录注册、搜索、导航的宽度为1200px像素*/
.w1200 {
    margin: auto;
    width: 1200px;
}

/*****************顶部灰色背景部分*****************/
.topNav {
    width: 100%;
    height: 30px;
    background: #eee;
}

/*顶部的导航部分*/
.topNav .lt, .topNav .rt {
    color: #999;
    height: 30px;
    line-height: 30px;
}

/*左侧 登录注册*/
.lt {
    float: left;
}

.lt > li {
    float: left;
    padding: 0 6px;
}

/*右侧 帮助中心*/
.rt {
    float: right;
}

.rt > li {
    float: left;
    padding: 0 6px;
    position: relative;
}
.rt>li>a>.msg_num{
    position: absolute;
    top:0;
    right:-10px;
    width:20px;
    height:20px;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    color: #03f;
    background: #fff;
    border-radius: 10px;
}
/*****************logo和搜索框部分*****************/
.logo_search {
    width: 100%;
    height: 100px;
    background: #fff;
}

.h60 {
    height: 60px;
    position: relative;
    top: 30px;
}

/*logo*/
.logo {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo > a {
    width: 200px;
    height: 60px;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 0;
    z-index: 9;
    background: url(../img/logo.png) no-repeat;
}

/*搜索框样式*/
.search_box {
    width: 600px;
    height: 60px;
    position: absolute;
    left: 300px;
    top: 0;
    z-index: 90;
}

.search_box input {
    display: block;
    width: 476px;
    height: 36px;
    outline: none;
    border: 2px solid #f00;
    padding: 0 10px;
    position: absolute;
    top: 18px;
}

/*搜索按钮*/
.search_btn {
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background: #f00;
    position: absolute;
    top: 18px;
    right: 0;
}

.search_btn:hover {
    color: #fff;
}

/*询价按钮*/
.enquiry {
    height: 60px;
    line-height: 64px;
    position: absolute;
    top: 6px;
    right: 0;
}

.enquiry > .a_btn {
    color: #c00;
    background: #eee;
    text-align: center;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    font-size: 16px;
}

.enquiry > .a_btn:hover {
    width: 118px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #c30;
    color: #f00;
    background: #fff;
}

/*固定头部*/
.fixedTop {
    margin-top: -30px;
    position: fixed;
    top: 0;
    height: 90px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    z-index: 999;
}

/*****************分类导航 + Tab导航栏*****************/
.topTabBox {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #333;
}

.topTab {
    height: 40px;
    line-height: 40px;
}

.navitm-cats {
    float: left;
    height: 40px;
    width: 160px;
    background: #151515;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-left: 0;
    overflow: visible;
}

.navitm-cats .toplevel {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 160px;
    text-align: left;
}

.navitm-cats .lineicon {
    display: inline-block;
    margin: 0 15px 0 27px;
    width: 15px;
    height: 12px;
    overflow: hidden;
}

.navitm-cats .lineicon i {
    width: 15px;
    height: 0;
    border-top: 2px solid #ddd;
    display: block;
    margin-bottom: 3px;
}

/******************************左侧 商品分类 导航*********************************/

/******************************************************************************/

/***********右侧导航列表**********/
.funcTab {
    position: relative;
    z-index: 99;
    height: 40px;
    padding-left: 20px;
}

.funcTab li {
    float: left;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0 33px;
}

.funcTab li a {
    color: #333;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.funcTab li a:hover {
    text-decoration: none;
    color: #E31436;
}

/******************************页面底部******************************/

footer {
    background: #000;
}

.foot_a {
    background: #ddd;
}

.h120 {
    height: 120px;
    color: #ff0;
}

.foot_a li {
    float: left;
    width: 300px;
    height: 80px;
    color: #000;
    position: relative;
}

.foot_a li img {
    position: absolute;
    top: 30px;
}

.foot_a li h2 {
    position: absolute;
    top: 10px;
    left: 70px;
}

.foot_a li p {
    position: absolute;
    top: 40px;
    left: 70px;
    color: #666;
}

/*底部导航*/
.group_list {
    width: 100%;
    height: 249px;
    margin-top: 10px;
    border-bottom: 1px solid #333;
}

.group_item {
    float: left;
    margin-right: 150px;
}

.group_item > ul > li {
    height: 30px;
    line-height: 30px;
}

.footer-logo {
    margin-top: 15px;
    text-align: center;
}

.footer-logo li {
    color: #ccc;
}

.group_list h3 {
    color: #eee;
}

/*底部版权信息*/
.copyright {
    text-align: center;
    font-size: 14px;
}

.copyright span {
    margin: 0 5px;
}

.copyright > p {
    color: #999;
    margin-bottom: 0;
}

/******************************主体内容******************************/

/*边框阴影*/
.box_shadow {
    background: #fff;
    box-shadow: 1px 1px 5px 1px #ddd;
}

/*主体内容背景色*/
div.container {
    background: #eee;
}

/*************************第一部分 导航列表和轮播图*************************/
.container > div.f1 {
    height: 574px;
}

/**************第一部分 左侧商品分类导航**************/
.f1_left {
    float: left;
    width: 160px;
    height: 574px;
    background: #6cf;
    position: relative;
}

.f1_left > ul > li {
    width: 150px;
    height: 40px;
    line-height: 20px;
    padding-left: 10px;
    cursor: pointer;
    border-bottom: 1px solid #123;
    background: rgba(15, 15, 15, .8);
}

.f1_left > ul > li:hover {
    width: 147px;
    border-left: 3px solid #f00;
    background: #666;
}

.f1_left > ul > li > a {
    font-size: 14px;
    color: #fff;
}

.f1_left > ul > li > .iconfont {
    font-size: 36px;
    position: relative;
    top: 8px;
    left: 0;
}

/*左侧浮动层*/
.f1_left > .f1_float_layer {
    width: 780px;
    height: 574px;
    background: #fefefe;
    position: absolute;
    top: 0;
    left: 160px;
    box-shadow: 5px 3px 10px 3px #ddd;
    z-index: 990;
}

.f1_float_layer_c {
    width: 740px;
    height: 550px;
    /*background: #ecf;*/
    position: absolute;
    left: 20px;
}

.f1_float_layer_c > h2 {
    border-left: 5px solid #c00;
    padding-left: 10px;
}

.f1_style_list {
    width: 100%;
    height: 110px;
    /*background: #cef;*/
}

.f1_style_list > h3 {
    color: #666;
}

.f1_style_list > hr {
    border: none;
    border-bottom: 1px solid #c33;
}

.f1_style_list > ul > li {
    float: left;
    margin-right: 30px;
}

.f1_style_list a {
    /*color: #666;*/
    font-size: 14px;
}

/**************第一部分 中间轮播图**************/
/*中间轮播大图*/
.f1_center {
    float: left;
    width: 740px;
    height: 550px;
    margin-top: 24px;
    margin-left: 20px;
}

.f1_center > .ct {
    width: 740px;
    height: 330px;
    position: relative;
}

/*轮播大图*/
/*wrap的轮播图和切换按钮样式*/
.wrap {
    width: 740px;
    height: 330px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.wrap ul {
    position: absolute;
}

.wrap ul li {
    width: 740px;
    height: 330px;
}

.wrap ul li a img {
    width: 740px;
    height: 330px;
}

.wrap ol {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.wrap ol li {
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-left: 10px;
    background-color: #fff;
}

.wrap ol li.active {
    color: #fff;
    background-color: #f00;
}

.f1_center > .cb {
    width: 740px;
    height: 200px;
    margin-top: 20px;
}

/**************第一部分 右侧**************/
.f1_right {
    float: right;
    width: 260px;
    height: 550px;
    margin-top: 24px;
}

/*右侧 登录注册*/
.f1_right > .rt {
    width: 260px;
    height: 330px;
}

.f1_right .rt1, .f1_right .rt2, .f1_right .rt3 {
    width: 200px;
    margin: 0 30px;
}

/*右侧头像*/
.f1_right .rt1 {
    color: #c30;
    text-align: center;
    height: 120px;
    padding-top: 15px;
}

.f1_right .rt1 > a {
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
    background: #efc;
    border-radius: 35px;
}

.f1_right .rt1 > a > img {
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
    background: #efc;
    border-radius: 35px;
}

.f1_right .rt1 > p {
    margin: 5px;
    font-size: 14px;
}

/*右侧登录注册按钮*/
.f1_right .rt2 {
    margin-top: 10px;
}

.f1_right .rt2 > a {
    display: inline-block;
    width: 90px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
}

.f1_right .rt2_login {
    color: #fff;
    background-color: #c00;
    border: 1px solid #c00;
}

.f1_right .rt2_reg {
    float: right;
    color: #c00;
    background-color: #fff;
    border: 1px solid #c00;
}

/*直、保、快、验*/
.f1_right .rt3 {
    margin-top: 20px;
}

.f1_right .rt3 > img {
    width: 24px;
    height: 26px;
    margin-right: 31px;
}

/*加盟、买家特权*/
.f1_right .rt4 {
    margin-top: 10px;
    width: 260px;
    border-top: 1px solid #ccc;
}

.f1_right .rt4 > a {
    float: left;
    width: 129px;
    height: 88px;
}

.f1_right .rt4 > a > img {
    margin-top: 10px;
    margin-left: 25px;
}

/*右侧公告栏*/
.f1_right > .rb {
    width: 260px;
    height: 200px;
    /*margin-top: 20px;*/
    margin-top: 350px;
}

/*公告标题栏*/
.notice_title {
    width: 260px;
    height: 40px;
}

.f1_right .rb > .notice_title {
    margin: auto;
    width: 240px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

.f1_right .rb > hr {
    margin: 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
}

.f1_right .rb > ul > li {
    height: 30px;
    line-height: 30px;
}

.f1_right .rb > .notice_title > .more {
    color: #666;
    float: right;
}

/*公告列表栏*/
.f1_right .rb > ul {
    width: 250px;
    height: 160px;
    white-space: nowrap; /* 强制在同一行内显示所有文本，直到文本结束或者遭遇 br 对象。不换行 */
    overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
}

/*************************第二部分 买家询盘*************************/

.container > div.f2 {
    height: 700px;
}

/*买家询盘*/
.floor_title {
    padding-top: 30px;
}

.floor_title > strong {
    color: #c00;
    font-size: 22px;
    padding-left: 10px;
    border-left: 7px solid #c00;
}

.floor_title > .more {
    float: right;
    font-size: 16px;
    color: #666;
}

.line {
    border: none;
    margin: 18px 0;
    border-bottom: 2px solid #c00;
}

.f2 ul {
    width: 1220px;
}

.f2 ul li {
    float: left;
    width: 285px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 20px 1px #ccc;
}

/*询盘列表标题*/
.f2_list_header {
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

/*询盘列表内容*/
.f2 ul li p {
    width: 275px;
    height: 20px;
    line-height: 15px;
    margin-left: 15px;
    font-size: 14px;
}

.f2 .f2_list_footer a {
    font-size: 16px;
    display: inline-block;
    width: 285px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #c00;
    background-image: url(../img/icon-sj.png);
    background-repeat: no-repeat;
    background-position: center top;
}

/*************************广告*************************/
.poster {
    height: 120px;
    /*margin: 10px auto;*/
    padding: 50px;
}

.poster img {
    box-shadow: 1px 1px 10px 1px #ccc;
}

/*************************第三、第四、第五部分*************************/
.floor {
    padding-top: 30px;
    height: 500px;
}

/*第三部分*/
.floor strong {
    color: #f63;
    font-size: 22px;
    padding-left: 10px;
    border-left: 7px solid #f63;
}

/*第四部分*/
.f4 strong {
    color: #f55;
    border-left: 7px solid #f55;
}

/*第五部分*/
.f5 strong {
    color: #f39;
    border-left: 7px solid #f39;
}

.floor hr {
    border: none;
    margin: 18px 0 0 0;
    border-bottom: 2px solid #f90;
}

.floor_img_box {
    height: 430px;
    position: relative;
}

.floor_img_1 {
    width: 270px;
    height: 430px;
}

.floor_img_1 img {
    width: 270px;
    height: 430px;
}

.floor_img_2 {
    width: 382px;
    height: 430px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 270px;
}

.floor_img_2 li {
    height: 194px;
    width: 170px;
    border-right: 1px dashed #eee;
    border-bottom: 1px dashed #eee;
    float: left;
    padding: 10px;
    text-align: center;
}

.floor_img_2 h2 {
    width: 170px;
    color: #666;
    margin: 0;
    overflow: hidden;
}

.floor_img_2 h3 {
    width: 170px;
    color: #f30;
    margin: 0;
    font-size: 12px;
    overflow: hidden;
}

.floor_img_2 img {
    height: 154px;
    width: 154px;
}

.floor_img_3 {
    height: 430px;
    width: 190px;
    background: #fff;
    border-right: 1px solid #eee;
    position: absolute;
    top: 0;
    left: 652px;
}

.floor_img_3 ul li {
    border-bottom: 1px solid #eee;
    height: 122px;
    width: 170px;
    padding: 10px;
}

.floor_img_3 h2 {
    width: 170px;
    color: #666;
    margin: 0;
    overflow: hidden;
}

.floor_img_3 h3 {
    width: 170px;
    color: #f30;
    margin: 0;
    font-size: 12px;
    overflow: hidden;
}

.floor_img_3 img {
    float: right;
    height: 70px;
    width: 70px;
    margin-top: 10px;
    margin-right: 10px;
}

.floor_img_4 {
    background-color: #fff;
    height: 410px;
    width: 326px;
    border-left: 1px solid #eee;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.floor_img_4_rt {
    width: 326px;
}

.floor_img_4_rt h3 {
    font-size: 14px;
    line-height: 60px;
    color: #f30;
    width: 316px;
    height: 60px;
    padding-left: 10px;
    margin: 0;
}

.floor_img_4_rt ul {
    width: 309px;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    height: 112px;
    margin-left: 8px;
}

.floor_img_4_rt li {
    float: left;
    height: 55px;
    width: 102px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.floor_img_4_rb {
    width: 326px;
    margin-top: 20px;
}

.floor_img_4_rb h3 {
    font-size: 14px;
    line-height: 60px;
    color: #f30;
    width: 316px;
    height: 60px;
    padding-left: 10px;
    margin: 0;
}

.floor_img_4_rb ul {
    height: 60px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.floor_img_4_rb li {
    height: 60px;
    float: left;
}

.floor_img_4_rb .l1 {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.floor_img_4_rb .l1 > img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.floor_img_4_rb .l2 {
    width: 40px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: 600;
}

.floor_img_4_rb .l3 {
    width: 130px;
    height: 60px;
    line-height: 60px;
}

.floor_img_4_rb .l3 > p {
    margin: 0;
    height: 30px;
    line-height: 30px;
}

.floor_img_4_rb .l4 {
    width: 80px;
    height: 60px;
    line-height: 60px;
}

.floor_img_4_rb .l4 > a {
    display: inline-block;
    width: 70px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    color: #f30;
    border-radius: 5px;
    border: 1px solid #f30;
}

/**************************第六部分 招商加盟****************************/
.f6_title1 {
    background: url("../img/f6-icon1.png") no-repeat;
    padding-left: 30px;
}

.f6_title2 {
    background: url("../img/f6-icon2.png") no-repeat;
    padding-left: 30px;
}

.f6_img_box1 {
    height: 300px;
}

.f6_img_box2 {
    height: 300px;
}

/*左侧楼层导航*/
.left-menu {
    display: block;
    width: 35px;
    height: 350px;
    position: fixed;
    top: 50%;
    margin-top: -175px;
    left: 50%;
    margin-left: -660px;
    z-index: 66;
}

.left-menu a {
    display: inline-block;
    width: 35px;
    height: 44px;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background-color: #999;
    border-bottom: 1px solid #ccc;
    padding-top: 5px;
}

.left-menu a:hover {
    background-color: #c30;
}

.left-menu a img {
    height: 50px;
    width: 35px;
}