html, body, ul {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 12px;
    list-style: none;
}

a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #f30;
}


/******************************主体内容******************************/
.container {
    height: 450px;
}